body {
  background: linear-gradient(to bottom, azure, grey);
  font-family: 'Bruno Ace SC', cursive;
  overflow: auto;

}

header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
}

header h1 {
  margin: 0;
}

header h2 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 4px 4px 4px grey;
  color: black;
}


header h3 {
  
  margin: 0;
  margin-right: 200px;

}

label {

  font-size: 1.5rem;
  display: block; 
  margin-bottom: 15px;

}

#contenedor {

    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-10%, -2%);
    width: 50%;
    height: 80%;
    display: flex;
    gap: 50px;
    padding: 1.5%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px grey;
    
}


#inputText {
  
  width: 326px;
  height: 46px;
  font-size: 16px;
  border-radius: 20px; 
  box-shadow: 10px 5px 10px grey;
  padding: 20px; 
  background: transparent;

}

#botones-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 10px;
}


#botonEncriptar, #botonDesencriptar  {
  
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: azure;
  background: rgb(85, 129, 248);
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px grey;
  transition: all 0.5s ease-out;
  cursor: pointer;
}


#botonEncriptar:hover, #botonDesencriptar:hover {

  transform: scale(1.2);
  box-shadow: 0 2px gray;

}


#inputCode{
  
  width: 326px;
  height: 46px;
  font-size: 16px;
  border-radius: 20px; 
  box-shadow: 10px 5px 10px grey;
  padding: 20px; 
  background: transparent;

}

#botonescontainer2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

#botonCopiar, #botonBorrar{
  
  
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: azure;
  background: rgb(85, 129, 248);
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px grey;
  transition: all 0.5s ease-out;
  cursor: pointer;
}


#botonCopiar:hover, #botonBorrar:hover  {

  transform: scale(1.1);
  box-shadow: 0 2px gray;

}

#mensaje, #mensajeborrado {
  position: absolute;
  top: 35%;
  right: 0;
  background-color: transparent;
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
  animation-name: mensajeAnimado;
  animation-duration: 2s;
}

@keyframes mensajeAnimado {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }


  100% {
    transform: translateY(0);
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent !important;
  padding: 20px 0;
}

.redesSociales {

  display:inline-block;
  

}

